<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="login_style.css">
  <link rel="stylesheet" href="main_style.css">
  <title>로그인</title>
</head>
<script src="clock.js"></script>

<body>
  <div id="header">
    <div id="logo"><img src='/earth.png' alt='logo' style="width: 50px;"><span id="clock"></span></div>

    <div id="teamname">SAVE_ENERGY</div>
    <div id="rig">
      <div id="login"><a href="login.html">로그인</a></div>
      <div id="mypage"><a href="#">마이페이지</a></div>
    </div>
  </div>
  <nav class="navbar">
    <div id="logo">
      <!-- SAVE_ENERGY -->
    </div>
    <ul class="navbar_menu">
      <li><a href="power_calculation.html" title="//">대기/소비 전력 확인하기</a></li>
      <li><a href="chart.html" title="//">전기&CO2 알아보기</a></li>
      <li><a href="#" title="//">나만 몰랐던 사실 알기</a></li>
      <li><a href="community.html" title="//">커뮤니티</a></li>
      <li><a href="#" title="//">후원하기</a></li>
    </ul>
    <div class="nav_links">
      <span id="clock"></span>
    </div>
  </nav>
  <div class="login">
    <form>
      <fieldset style="width:150">
        <legend>로그인 정보 입력</legend> <br> <br>
        <div id="user"><img src="user.png" alt="사용자"></div> <br>
        <p> USERNAME :
          <input type="text" id="ID" v-model="ID" placeholder="ID를 입력하세요.">
        <p> PASSWORD :
          <input type="password" v-model="PW" placeholder="PW를 입력하세요.">
        </p>
        <br><input type="checkbox" v-model="chkid">
        ID기억하기 <br><br>
        <button><a href="index.html">로그인 <br></a></button>
        <button><a href="#">회원가입 <br></a></button>
        <br><br>
        <button><a href="#">ID찾기 <br></a></button>
        <button><a href="#">PW찾기 <br></a></button>
      </fieldset>
    </form>
  </div>
</body>

</html>
